<?xml version='1.0' encoding='utf-8'?>
<widget id="com.astrohunter" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AsteroidsJS</name>
    <description>
        A simple Asteroids clome with some cool new twists!
    </description>
    <author email="luukvanvenrooij84@gmail.com" href="http://www.luukvanvenrooij.nl">
        Luuk van Venrooij
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="^1.2.1" />
    <plugin name="cordova-plugin-vibration" spec="^2.1.0" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="^1.5.0" />
    <access origin="*" />
    <icon src="resources/icon.png" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="KeepRunning" value="true" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="landscape" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <engine name="android" spec="~5.1.1" />
    <preference name="xwalkVersion" value="xwalk_core_library_beta:18+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
</widget>
