@font-face {
	font-family: "GameFont";
	src: url("../font/font.ttf");
};

html, body {
	padding:0;
	margin:0;
	height:"100%";
	width:"100%";'
}

#canvas {
   position: absolute;
   left:  50%;
   top:   50%;
}

.button {
	position: relative;
	left: 0px;
  top: 0px;
	position: relative;
	left: 0;
	border: 2px solid #ffffff;
	background-color: #000000;
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
