@font-face {
	font-family: "GameFont";
	src: url("../font/font.ttf");
};

html, body {
	padding:0;
	margin:0;
	height:"100%";
	width:"100%";'
}

#canvas {
   position: absolute;
   left:  50%;
   top:   50%;
	 padding:0;
   margin:0;
}

.button {
	position: absolute;
	left: 0px;
  top: 0px;
	left: 0;
	border: 3px solid #ffffff;
	background-color: #000000;
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	border-radius: 25px;
	visibility: hidden;
	opacity: 0.4;
}
